@font-face {
  font-family: "League Spartan-Regular";
  src: url('fonts/LeagueSpartan-Regular.ttf');
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #361a0a;
  color: white;
}

body > a {
  color: red;
}



body.ouvert {
  overflow-y: hidden;
}
header {
  display: flex;
  position: fixed;
  font-size: 250%;
  font-family: "League Spartan-Regular";
  width: 100%;
  height: 10%;
  padding: 5px;
  z-index: 6;
  font-weight: 700;
  color: rgb(245, 235, 220);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  flex-direction: row;
  background-color: rgba(153, 5, 0, 0);
  transition: background-color 0.3s;
}

#tender.ouvert {
  color: rgb(80, 35, 20);
  background-color: rgb(245, 235, 220);
}

header:hover {
  color: rgb(80, 35, 20);
  background-color: rgb(245, 235, 220);
  opacity: 1;
}

header:hover #compte img {
  visibility: hidden;
}
.headMenu {
  position: inherit;
  color: inherit;
  text-decoration: none;
  text-decoration-color: white;
  top: 5%;
}
#ordre {
  left: 25%;
}

#logo {
  cursor: pointer;
  top: 0%;
  height: 10%;
  width: 9%;
  left: 44.5%;
  right: 37%;
  z-index: 7;
}

#compte {
  display: flex;
  left: 95%;
  background-image: url('https://i.imgur.com/oH6f1Xw.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  border: none;
  top: 4%;
}



footer {
  display: inline-block;
  font-size: xx-large;
  width: 100%;
  height: auto;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  flex-direction: row;
  color: rgb(80, 35, 20);
  background-color: rgb(245, 235, 220);
}

footer section{
  display: inline-block;
}
.menuBouton {
    position: fixed;
    background-image: url('https://i.imgur.com/pUdyf2m.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 30px;
    width: 60px;
    height: 60px;
    padding-left: 50px;
    left: 30px;
    border: none;
    cursor: pointer;
    top: 30px;
    z-index: 4;
}

#ouvreBtn.ouvert {
  visibility: hidden;
}

#fermeBtn.ouvert {
  left: 95.15%;
  top: 15%;
  background-image: url('https://i.imgur.com/Zk7g8Zw.png');
}

.menu {
  height: 90%;
  position: fixed;
  z-index: 5;
  left: -100%;
  width: 100%;
  opacity: 0;
  top: 10%;
  background-color: rgb(247, 247, 247);
  transition: opacity 0.3s;
  padding-top: 30px;
  }
.menu.ouvert {
  left: 0;
  opacity: 1;
}

.rubrique {
  display: flex;
  height: 450px;
  background-color: brown;
  margin: 0;
  font-size: 450%;
  font-weight: bold;
  font-family: "League Spartan-Regular";
}

.rubrique section{
  width: 33.333%;
  color: #00000085;
  padding-top: 2%;
  padding-left: 1%;
}

#fond {
  width: 100%;
  margin: 0;
}

#bas{
  width: 100%;
  background-image: linear-gradient(#8d673b, #361a0a , #412611)
}
#bas a{
  display: inline-block;
  margin-left: 22.5%;
  background: url('https://i.imgur.com/ZCavKoP.png') no-repeat;
}

#bas a:hover img{
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.8s;
}

#fleche {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, 210%);
  width: 150px;
  height: 150px;
  z-index: 4;
  cursor: pointer;
  transition: transform 0.3s ease;
  }

  #fleche:hover {
  transform: translate(-56%, 220%);
}

#appat {
  position: absolute;
  background-color: #eba102c2;
  color : rgb(245, 235, 220);
  z-index: 4;
  top: 78%;
  left: 43.5%;
  font-family: "League Spartan-Regular";
  font-size: xx-large;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
}

#pres {
  position: absolute;
  z-index: 4;
  top: 30%;
  left: 36.5%;
  text-align: center;
  font-family: "League Spartan-Regular";
  font-size: 500%;
  width: 500px;
  text-wrap: pretty;
  background: linear-gradient(0.9turn, #f6c43c, #ebf8e1, #f69d3c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.5s;
  }

  #pres.ouvert {
  opacity: 0;
  transition: opacity 0.5s;
}